
$font-family:'Ubuntu', Arial, sans-serif;

//colors
$color-backgroundblue:#f3faff;
$color-border:#ddeaf3;
$color-shadowblue:#f0f7fd;
$color-font:#586474; 
$color-link:#009FED; 
//width and height
$max-width:1400px;
$gutter:15px;
$gutter2x:30px;
$finger-size:40px;
$border-radius:3px;





