body{
    font-family: $font-family;
    background-color:$color-backgroundblue;
}

.container{
margin-left:auto;
margin-right:auto;
}
a {
    $color-link:#009FED; 
}

.button {
    display: inline-flex;
    align-items: center;
    padding-left:20px;
    padding-right:20px;
    height: $finger-size;
}